@using Umbraco.Web.UI.Controllers;
@inherits UmbracoViewPage<Umbraco.Web.UI.Dto.ExtraProductsResponseDto[]>
@{
    Layout = null;
}
<div class="stm-template-car_rental single-product woocommerce">
    <div class="stm-fullwidth-with-parallax-bg">
        <div class="container">
            <div class="stm_wizard_title heading-font">
                Rezervasyon
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="stm_nav_wizard_step stm_nav_wizard_step_1">

                        <div class="inner ">
                            <a href="../../date-reservation/index.html" class="top heading-font external" rel="nofollow">
                                <div class="number">
                                    <span>1</span>
                                </div>
                                <label>Kiralama Bilgileri</label>
                            </a>
                            <div class="content">
                                <div class="first">
                                    <h5>Başlangıç</h5>
                                    <div class="stm_filled_pickup_location">@ViewBag.SelectedVehicle.pickupLocName</div>
                                    <div class="stm_filled_pickup_date">@ViewBag.SelectedVehicle.pickupDate</div>
                                </div>
                                <div class="second">
                                    <h5 class="second">TESLİMAT</h5>
                                    <div class="stm_filled_return_location">@ViewBag.SelectedVehicle.returnLocName</div>
                                    <div class="stm_filled_return_date">@ViewBag.SelectedVehicle.returnDate</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="stm_nav_wizard_step stm_nav_wizard_step_2">

                        <div class="inner current passed">
                            <a href="#" class="top heading-font external" rel="nofollow">
                                <div class="number">
                                    <span>2</span>
                                </div>
                                <label>Araç ve Ek Hizmet Seçimi</label>
                            </a>
                            <div class="content">
                                <div class="first">
                                    <h5>Araç</h5>
                                    <div>@ViewBag.SelectedVehicle.vehicleTypes[0].typeFullname</div>
                                </div>
                                <div class="second">
                                    <a class="h5 external" href="#" rel="nofollow">Ek HİZMETLER</a>
                                    <div>
                                        <span class="selectedProducts"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="stm_nav_wizard_step stm_nav_wizard_step_3">

                        <div class="inner ">
                            <a href="#" class="top heading-font external" rel="nofollow">
                                <div class="number">
                                    <span>3</span>
                                </div>
                                <label>Rezervasyon Bilgileri</label>
                            </a>
                            <div class="content">
                                <div class="first">
                                    <h5>Rezervasyon SAHİBİ</h5>
                                    <div>--</div>
                                </div>
                                <div class="second">
                                    <h5>Ödeme BİLGİSİ</h5>
                                    <div>
                                        --
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="stm-reservation-archive">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div id="rent_notice">
                    </div>
                    <div class="row stm_rental_archive_top">
                        <div class="col-md-7 col-sm-7">
                            <h2 class="title">
                                Ek HİZMETLER
                            </h2>
                        </div>
                        <div class="col-md-5 col-sm-5">

                            <script>
                                (function ($) {
                                    $(document).ready(function () {
                                        var $coupon = $('.stm_checkout_coupon .input-text');
                                        $coupon.on('focus', function () {
                                            $('.stm_checkout_coupon').addClass('active');
                                        });

                                        $coupon.on('focusout', function () {
                                            $('.stm_checkout_coupon').removeClass('active');
                                        })
                                    });
                                })(jQuery)
                            </script>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            @foreach (var item in Model)
                            {
                                <div class="stm_rental_options_archive">
                                    <div class="stm_rental_option">
                                        <div class="image">
                                            <img width="1" height="1" src="@item.prodImg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" loading="lazy" />
                                        </div>
                                        <div class="stm_rental_option_content">
                                            <div class="content">
                                                <div class="title">
                                                    <h4>@item.productName</h4>
                                                </div>
                                                <div class="stm-more">
                                                    <a href="#">
                                                        <span>DAHA FAZLA</span>
                                                        <i class="fas fa-angle-down"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="meta">
                                                <div class="price">
                                                    <div class="empty_sale_price"></div>
                                                    <div class="current_price heading-font">
                                                    </div>
                                                </div>

                                                <div class="stm-add-to-cart added heading-font stm-manage-stock-no">
                                                    <a class="productSelection" data-id="@item.productNo" data-value="@item.totalPrice" data-text="@item.productName" style="background-color:white;">
                                                        <span class="add_text" id="@item.productNo">Ekle</span>
                                                    </a>
                                                </div>

                                            </div>

                                            <div class="clearfix"></div>

                                            <div class="more">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sodales tortor est, dictum pharetra lectus facilisis vitae. Proin sodales nec neque sed posuere. Nulla facilisi. Suspendisse tincidunt quisut sagittis. Sed ullamcorper aliquet magna at accumsan.
                                                Curabitur fringilla, risus a malesuada mattis, diam quam finibus sapien, sit amet ullamcorper arcu neque a metus. Etiam rutrum orci non ex vehicula, sed egestas metus tristique.
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }

                            <script>
                                jQuery(document).ready(function () {
                                    var $ = jQuery;
                                    $('.stm-manage-stock-yes a').on('click', function (e) {
                                        e.preventDefault();
                                        e.stopPropagation();
                                        var stmHref = $(this).attr('href');
                                        var quantityValue = $(this).closest('.meta').find('.qty').val();
                                        var quantity = '&quantity=' + quantityValue;
                                        stmHref += quantity;
                                        window.location.href = stmHref;
                                    });
                                })
                            </script>
                        </div>
                        <div class="col-md-5">

                            <div class="stm_rent_order_info">

                                <!--Car rent-->
                                <div class="stm_rent_table">
                                    <div class="heading heading-font">
                                        <h4>@ViewBag.SelectedVehicle.vehicleTypes[0].typeFullname</h4>
                                    </div>
                                    <div class="image">
                                        <img src="https://jupicar.cloud:2028//image/@ViewBag.SelectedVehicle.vehicleTypes[0].img1" />
                                    </div>
                                    <table>
                                        <thead class="heading-font">
                                            <tr>
                                                <td>KİRALAMA Süresi</td>
                                                <td>Toplam Tutar</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="3" class="divider"></td>
                                            </tr>
                                            <!--FIXED PRICE-->
                                            <tr>
                                                <td>@ViewBag.SelectedVehicle.rentalDays <span>Gün</span></td>
                                                <td>
                                                    @ViewBag.SelectedVehicle.tariffs[0].totalRentalPrice
                                                    <span class="woocommerce-Price-amount amount">
                                                        <bdi><span class="woocommerce-Price-currencySymbol"> TL</span></bdi>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="divider"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!--Add-ons-->
                                <div class="stm_rent_table">
                                    <div class="heading heading-font">
                                        <h4>Ek HİZLETLER</h4>
                                    </div>
                                    <table id="addOnsTable">
                                        <thead class="heading-font">
                                            <tr>
                                                <td>Ek HİZMET</td>
                                                <td>Toplam Tutar</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span class="productName" name="productName">
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="productPrice">
                                                        <bdi><span class="woocommerce-Price-currencySymbol"> TL</span></bdi>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>


                                <div class="stm-rent-total heading-font">
                                    <table>
                                        <tr>
                                            <td>Hesaplanan Tutar</td>
                                            <td>
                                                <span class="woocommerce-Price-amount amount totalRentalPrice">
                                                    <bdi><span class="woocommerce-Price-currencySymbol"> TL</span></bdi>
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="stm_rent_accept_wrapper">
                                    <a onclick="redirectFunction()" class="stm_rent_accept heading-font external">Devam Et</a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <script>
                        var addedProducts = [];
                        var productNo;
                        var productPrice;
                        var productName;
                        var process;
                        var totalPrice = parseFloat('@ViewBag.SelectedVehicle.tariffs[0].totalRentalPrice');
                        var productNameArray = [];
                        jQuery(document).ready(function () {
                            $(".productSelection").click(function () {
                                productNo = this.dataset["id"];
                                productPrice = this.dataset["value"];
                                productName = this.dataset["text"];
                                if ($(".productSelection span#" + productNo).text() == "Ekle") {
                                    addedProducts.push({
                                        productNo: productNo,
                                        totalPrice: productPrice,
                                        productName: productName
                                    });
                                    productNameArray.push(productName);
                                    process = "Ekle";
                                    $(".productSelection span#" + this.dataset["id"]).text("Çıkar");
                                    this.style.backgroundColor = "#f0c540";
                                    totalPrice = totalPrice + parseFloat(productPrice);
                                    $(".totalRentalPrice").text(totalPrice + " TL");
                                    $(".selectedProducts").text(productNameArray.join());
                                }
                                else {
                                    addedProducts = jQuery.grep(addedProducts, function (value) {
                                        return value.productNo != productNo;
                                    });
                                    productNameArray = jQuery.grep(productNameArray, function (value) {
                                        return value != productName;
                                    });
                                    $(".selectedProducts").text(productNameArray.join());
                                    process = "Çıkar";
                                    $(".productSelection span#" + productNo).text("Ekle");
                                    this.style.backgroundColor = "white";
                                    totalPrice = totalPrice - parseFloat(productPrice);
                                    $(".totalRentalPrice").text(totalPrice + " TL");
                                }
                                AppendTBody(productName, productPrice + " TL", process, addedProducts.length);
                            });



                        });
                        //set the data in row
                        function setDataOnRow(rowObject, productName, productPrice, process) {
                            if (process == "Ekle") {
                                $(rowObject).find(".productName").html(productName);
                                $(rowObject).find(".productPrice").html(productPrice);
                            }
                            else {
                                $("#addOnsTable tbody").find('span[name="productName"]').each(function () {
                                    if ($(this).html() == productName) {
                                        $(this).parents("tr").remove();
                                        $(this).deleteRow(this);
                                    }
                                });
                            }
                        }

                        function AppendTBody(productName, productPrice, process, i) {
                            if (i == 1) {
                                //setting the data in first row itself
                                setDataOnRow($("#addOnsTable tbody").find("tr").first(), productName, productPrice, process);

                            } else {

                                //clonning the first row and setting data over it and then appending in tbody
                                var clonnedRow = $($("#addOnsTable tbody").find("tr").first()).clone();
                                setDataOnRow(clonnedRow, productName, productPrice, process);

                                $("#addOnsTable tbody").append(clonnedRow);

                            }

                        }

                        function redirectFunction(fullTypeName, img) {
                            var capacity = @Html.Raw(Json.Encode(@ViewBag.SelectedVehicle));
                            var economy = addedProducts;
                            window.location.href = `/umbraco/Surface/Reservation/Checkout?capacity=${JSON.stringify(capacity)}&economy=${JSON.stringify(economy)}`;
                        }
                    </script>
                </div>

            </div>
            <!--row-->
        </div>
        <!--container-->


    </div>
</div>
