@inherits UmbracoViewPage<Umbraco.Web.UI.Dto.ReservationDto>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = null;
}
@section head {
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>

    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="~/"></script>

    <script>
        $(function () {
            $("#datepicker2").datepicker();
        });
    </script>
}
<div class="container info">
    <div class="page-header content-center" style="background-color:aqua">
        <p>Rezervasyon</p>
    </div>
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(m => m.pickupDate)
            @Html.TextBoxFor(m => m.pickupDate, new { id = "datepicker2", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.resNo)
        </div>
        <div class="col-md-6">
            @Html.LabelFor(m => m.returnDate)
            @Html.TextBoxFor(m => m.returnDate, new { id = "datepicker2", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.returnDate)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(m => m.deliveryPlace)
            @Html.TextBoxFor(m => m.deliveryPlace, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.deliveryPlace)
        </div>
        <div class="col-md-6">
            @Html.LabelFor(m => m.dropPlace)
            @Html.TextBoxFor(m => m.dropPlace, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.dropPlace)
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(m => m.resStatus)
            @Html.TextBoxFor(m => m.resStatus, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.resStatus)
        </div>
        <div class="col-md-6">
            @Html.LabelFor(m => m.resCorpNo)
            @Html.TextBoxFor(m => m.resCorpNo, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.resCorpNo)
        </div>
    </div>
    <button type="submit" class="btn btn-info"> Ara</button>
</div>

