@inherits UmbracoViewPage<Umbraco.Web.UI.Dto.CapacitiesResponseDto[]>
@{
    Layout = null;
}

<div class="stm-fullwidth-with-parallax-bg">
    <div class="container">
        <div class="stm_wizard_title heading-font">
            Reservation
        </div>

        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="stm_nav_wizard_step stm_nav_wizard_step_1">

                        <div class="inner ">
                            <a href="~/Views/Partials/Reservation/_ReservationDate.cshtml" class="top heading-font external" rel="nofollow">
                                <div class="number">
                                    <span>1</span>
                                </div>
                                <label>Your Itinerary</label>
                            </a>
                            <div class="content">
                                <div class="first">
                                    <h5>Alım</h5>
                                    <div class="stm_filled_pickup_location">@item.pickupLocName</div>
                                    <div class="stm_filled_pickup_date">@item.pickupDate</div>
                                </div>
                                <div class="second">
                                    <h5 class="second">Teslimat</h5>
                                    <div class="stm_filled_return_location">@item.returnLocName</div>
                                    <div class="stm_filled_return_date">@item.returnLocName</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="stm_nav_wizard_step stm_nav_wizard_step_2">

                        <div class="inner current">
                            <a href="~/Views/Partials/Reservation/_Reservation.cshtml" class="top heading-font external" rel="nofollow">
                                <div class="number">
                                    <span>2</span>
                                </div>
                                <label>Select Vehicle/Add-ons</label>
                            </a>
                            <div class="content">
                                <div class="first">
                                    <h5>Type</h5>
                                    <div>--</div>
                                </div>
                                <div class="second">
                                    <h5>Addons</h5>
                                    <div>--</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="stm_nav_wizard_step stm_nav_wizard_step_3">

                        <div class="inner ">
                            <a href="../checkout/index.html" class="top heading-font external" rel="nofollow">
                                <div class="number">
                                    <span>3</span>
                                </div>
                                <label>Reserve Your Vehicle</label>
                            </a>
                            <div class="content">
                                <div class="first">
                                    <h5>Your information</h5>
                                    <div>--</div>
                                </div>
                                <div class="second">
                                    <h5>Payment information</h5>
                                    <div>
                                        --
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>}
    </div>
</div>
<script>
    (function ($) {
        "use strict";
        $(document).ready(function () {
        });
    })(jQuery);

                function GetCapacities(obj) {
                    $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetCapacities", "Reservation")",
                    dataType: "json",
                    data: { dto: obj },
                    cache: false,
                         success: function (retval) {
                        for (var i = 0; i < retval.length; i++) {
                            var o = new Option(retval[i].cityName, retval[i].locationCode);
                            /// jquerify the DOM object 'o' so we can use the html method
                            $(o).html(retval[i].cityName);
                            $("#"+locations+'').append(o);
                        }
                    },
                    error: function () {
                        alert("Error figen");
                    }
                });
                }
</script>

