@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = null;
}
<div class="stm-template-car_rental woocommerce-order-received woocommerce">

    <div class="stm-fullwidth-with-parallax-bg">
        <div class="container">
            <div class="stm_wizard_title heading-font">
                Rezervasyon
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="stm_nav_wizard_step stm_nav_wizard_step_1">

                        <div class="inner ">
                            <a href="../../date-reservation/index.html" class="top heading-font external" rel="nofollow">
                                <div class="number">
                                    <span>1</span>
                                </div>
                                <label>Kiralama Bilgileri</label>
                            </a>
                            <div class="content">
                                <div class="first">
                                    <h5>Başlangıç</h5>
                                    <div class="stm_filled_pickup_location">@ViewBag.SelectedVehicle.pickupLocName</div>
                                    <div class="stm_filled_pickup_date">@ViewBag.SelectedVehicle.pickupDate</div>
                                </div>
                                <div class="second">
                                    <h5 class="second">TESLİMAT</h5>
                                    <div class="stm_filled_return_location">@ViewBag.SelectedVehicle.returnLocName</div>
                                    <div class="stm_filled_return_date">@ViewBag.SelectedVehicle.returnDate</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="stm_nav_wizard_step stm_nav_wizard_step_2">

                        <div class="inner current passed">
                            <a href="#" class="top heading-font external" rel="nofollow">
                                <div class="number">
                                    <span>2</span>
                                </div>
                                <label>Araç ve Ek Hizmet Seçimi</label>
                            </a>
                            <div class="content">
                                <div class="first">
                                    <h5>Araç</h5>
                                    <div>@ViewBag.SelectedVehicle.vehicleTypes[0].typeFullname</div>
                                </div>
                                <div class="second">
                                    <a class="h5 external" href="#" rel="nofollow">Ek HİZMETLER</a>
                                    <div>
                                        @ViewBag.ProductName<span class="selectedProducts"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="stm_nav_wizard_step stm_nav_wizard_step_3">

                        <div class="inner ">
                            <a href="#" class="top heading-font external" rel="nofollow">
                                <div class="number">
                                    <span>3</span>
                                </div>
                                <label>Rezervasyon Bilgileri</label>
                            </a>
                            <div class="content">
                                <div class="first">
                                    <h5>Rezervasyon SAHİBİ</h5>
                                    <div>@ViewBag.ReservationOwner.name @ViewBag.ReservationOwner.lastname</div>
                                </div>
                                <div class="second">
                                    <h5>Ödeme BİLGİSİ</h5>
                                    <div>
                                        --
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="stm-reservation-archive">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <div class="row stm_rental_archive_top">
                        <div class="col-md-7 col-sm-7">
                            <h2 class="title">Sonuç</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">

                            <div class="stm_rent_order_info">


                                <!--Car rent-->
                                <div class="stm_rent_table">
                                    <div class="heading heading-font">
                                        <h4>@ViewBag.SelectedVehicle.vehicleTypes[0].typeFullname</h4>
                                    </div>
                                    <div class="image">
                                        <img src="https://jupicar.cloud:2028//image/@ViewBag.SelectedVehicle.vehicleTypes[0].img1" />
                                    </div>
                                    <table>
                                        <thead class="heading-font">
                                            <tr>
                                                <td>KİRALAMA SÜRESİ</td>
                                                <td>Toplam Tutar</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="3" class="divider"></td>
                                            </tr>
                                            <!--FIXED PRICE-->
                                            <tr>
                                                <td>@ViewBag.SelectedVehicle.rentalDays Gün</td>
                                                <td>
                                                    <span class="woocommerce-Price-amount amount">
                                                        @ViewBag.SelectedVehicle.tariffs[0].totalRentalPrice <bdi><span class="woocommerce-Price-currencySymbol"> TL</span></bdi>
                                                    </span>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="3" class="divider"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!--Add-ons-->
                                <!--Add-ons-->

                                <div class="stm_rent_table">
                                    <div class="heading heading-font">
                                        <h4>Ek HİZMETLER</h4>
                                    </div>
                                    <table id="addOnsTable">
                                        <thead class="heading-font">
                                            <tr>
                                                <td>Ek HİZMET</td>
                                                <td>Toplam Tutar</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in ViewBag.Product)
                                            {
                                                <tr>
                                                    <td>
                                                        <span class="productName" name="productName">
                                                            @item.productName
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span class="productPrice">
                                                            @item.totalPrice<bdi><span class="woocommerce-Price-currencySymbol"> TL</span></bdi>
                                                        </span>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>


                                <div class="stm-rent-total heading-font">
                                    <table>
                                        <tr>
                                            <td>Hesaplanan Tutar</td>
                                            <td>
                                                <span class="woocommerce-Price-amount amount">
                                                    @ViewBag.SelectedVehicle.tariffs[0].totalRentalPrice <bdi><span class="woocommerce-Price-currencySymbol">TL</span></bdi>
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="stm_custom_rental_checkout">
                                <div class="woocommerce">
                                    <div class="woocommerce-order">




                                        <p class="woocommerce-notice woocommerce-notice--success woocommerce-thankyou-order-received heading-font">
                                            <i class="fas fa-check"></i>
                                            Teşekkürler. SİPARİŞİNİZ oluşturuldu. <a href="" style="color: #1bc744;" class="external" rel="nofollow">Return to account</a>
                                        </p>

                                        <ul class="woocommerce-order-overview woocommerce-thankyou-order-details order_details heading-font">

                                            <li class="woocommerce-order-overview__order order">
                                                <span>Sipariş Numarası:</span>
                                                <strong class="heading-font">#@ViewBag.OrderNumber</strong>
                                            </li>

                                            <li class="woocommerce-order-overview__date date">
                                                Date: <strong>May 21, 2022</strong>
                                            </li>


                                            <li class="woocommerce-order-overview__total total">
                                                Total: <strong><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>220</bdi></span></strong>
                                            </li>


                                            <li class="woocommerce-order-overview__payment-method method">
                                                <span>Payment method:</span>
                                                <strong>Pay later</strong>
                                            </li>


                                        </ul>
                                        <div class="clear"></div>

                                        <h4 class="rental_title">Kiralama Bilgileri</h4>
                                        <div class="stm_rental_order_success">
                                            <div class="single_order_info">
                                                <h4 class="title">Başlangıç</h4>
                                                <div class="content">@ViewBag.SelectedVehicle.pickupLocName, @ViewBag.SelectedVehicle.pickupDate</div>
                                            </div>
                                            <div class="single_order_info">
                                                <h4 class="title">TESLİMAT</h4>
                                                <div class="content">@ViewBag.SelectedVehicle.returnLocName, @ViewBag.SelectedVehicle.returnDate</div>
                                            </div>
                                            <div class="single_order_info">
                                                <h4 class="title">Araç</h4>
                                                <div class="content">@ViewBag.SelectedVehicle.vehicleTypes[0].typeFullname</div>
                                            </div>
                                            <div class="single_order_info">
                                                <h4 class="title">SürücÜ BİLGİLERİ</h4>
                                                <div class="content">@ViewBag.ReservationOwner.name @ViewBag.ReservationOwner.lastname </div>
                                                <div class="content">Telefon: @ViewBag.ReservationOwner.phone11 </div>
                                                <div class="content">Email: @ViewBag.ReservationOwner.email </div>
                                            </div>
                                            <div class="single_order_info">
                                                <h4 class="title">Ödeme BİLGİLERİ</h4>
                                                <div class="content">Hesaplanan Toplam Tutar - <span class="woocommerce-Price-amount amount"><bdi>@ViewBag.SelectedVehicle.tariffs[0].totalRentalPrice</bdi><span class="woocommerce-Price-currencySymbol">TL</span></span></div>
                                            </div>
                                        </div>

                                        <div class="stm_policy_content">
                                            <div class="vc_row wpb_row vc_row-fluid">
                                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                                    <div class="vc_column-inner">
                                                        <div class="wpb_wrapper">
                                                            <h4 style="font-size: 16px;text-align: left" class="vc_custom_heading vc_custom_1485241940290">IMPORTANT INFORMATION</h4>
                                                            <div class="wpb_text_column wpb_content_element  vc_custom_1485238594670">
                                                                <div class="wpb_wrapper">
                                                                    <p>Lorem ipsum dolor sit amet, adipiscing elit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas lobortis vestibulum ipsum vitae pellentesque. Sed malesuada, neque quis tincidunt suscipit, lorem lectus rutrum lacus, a iaculis ipsum eros sed ipsum. Sed scelerisque massa ut nibh tincidunt, eget elementum augue pellentesque.</p>

                                                                </div>
                                                            </div>
                                                            <h4 style="font-size: 16px;text-align: left" class="vc_custom_heading vc_custom_1485241971836">CANCELLATION</h4>
                                                            <div class="wpb_text_column wpb_content_element  vc_custom_1485244097900">
                                                                <div class="wpb_wrapper">
                                                                    <p>Sed malesuada, neque quis tincidunt suscipit, lorem lectus rutrum lacus, a iaculis ipsum eros sed ipsum. Sed scelerisque massa ut nibh tincidunt, eget elementum augue pellentesque. <strong>Tel: 123-4567-890</strong></p>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <style type="text/css">
                                            .vc_custom_1485241940290 {
                                                margin-top: 0px !important;
                                                margin-bottom: 19px !important;
                                            }

                                            .vc_custom_1485238594670 {
                                                margin-bottom: 40px !important;
                                            }

                                            .vc_custom_1485241971836 {
                                                margin-top: 25px !important;
                                                margin-bottom: 17px !important;
                                            }

                                            .vc_custom_1485244097900 {
                                                margin-bottom: 0px !important;
                                            }
                                        </style>
                                        <div class="stm_order_print">
                                            <a href="javascript:window.print()" class="button">
                                                Rezervasyon Çıktısı<i class="fas fa-print"></i>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        (function ($) {

                            $(window).on('load', function () {
                                var fields = '.stm_woocommerce_checkout_billing .form-row input, ' +
                                    '.stm_woocommerce_checkout_billing .form-row select';

                                $(fields).each(function () {
                                    if ($(this).val() == '') {
                                        $(this).closest('.form-row').removeClass('woocommerce-validated');
                                    }
                                });

                                $(document).on('focusout', fields, function () {
                                    if ($(this).val() == '') {
                                        $(this).closest('.form-row').removeClass('woocommerce-validated');
                                    }
                                })
                            });

                        })(jQuery)
                    </script>

                    <div class="stm_terms_popup_dismiss"></div>
                    <div class="stm_terms_popup">
                        <i class="fas fa-times"></i>
                        <div class="vc_row wpb_row vc_row-fluid vc_custom_1485323418627">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <h2 style="font-size: 26px;line-height: 34px;text-align: left" class="vc_custom_heading">TERMS AND CONDITIONS</h2>
                                        <h4 style="font-size: 16px;line-height: 24px;text-align: left" class="vc_custom_heading">1. Introduction</h4>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p><span style="color: #2a4045;">These Website Standard Terms and Conditions written on this webpage shall manage your use of this website. These Terms will be applied fully and affect to your use of this Website. By using this Website, you agreed to accept all terms and conditions written in here. You must not use this Website if you disagree with any of these Website Standard Terms and Conditions.</span></p>

                                            </div>
                                        </div>
                                        <h4 style="font-size: 16px;line-height: 24px;text-align: left" class="vc_custom_heading">2. Intellectual Property Rights</h4>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p><span style="color: #2a4045;">Other than the content you own, under these Terms, Motors and/or its licensors own all the intellectual property rights and materials contained in this Website. </span></p>
                                                <p><span style="color: #2a4045;">You are granted limited license only for purposes of viewing the material contained on this Website.</span></p>

                                            </div>
                                        </div>
                                        <h4 style="font-size: 16px;line-height: 24px;text-align: left" class="vc_custom_heading">3. Restrictions</h4>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p style="line-height: 20px;"><span style="color: #2a4045;">You are specifically restricted from all of the following </span></p>
                                                <p><span style="color: #2a4045;">• Publishing any Website material in any other media; </span></p>
                                                <p><span style="color: #2a4045;">• Selling, sublicensing and/or otherwise commercializing any Website material; </span></p>
                                                <p><span style="color: #2a4045;">• Publicly performing and/or showing any Website material; </span></p>
                                                <p><span style="color: #2a4045;">• Using this Website in any way that is or may be damaging to this Website; </span></p>
                                                <p><span style="color: #2a4045;">• Using this Website in any way that impacts user access to this Website;</span></p>

                                            </div>
                                        </div>
                                        <h4 style="font-size: 16px;line-height: 24px;text-align: left" class="vc_custom_heading">4. Your content</h4>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p><span style="color: #2a4045;">In these Website Standard Terms and Conditions, “Your Content” shall mean any audio, video text, images or other material you choose to display on this Website. By displaying Your Content, you grant Motors a non-exclusive, worldwide irrevocable, sub licensable license to use, reproduce, adapt, publish, translate and distribute it in any and all media.</span></p>
                                                <p><span style="color: #2a4045;">Your Content must be your own and must not be invading any third-party’s rights. Motors reserves the right to remove any of Your Content from this Website at any time without notice.</span></p>

                                            </div>
                                        </div>
                                        <h4 style="font-size: 16px;line-height: 24px;text-align: left" class="vc_custom_heading">5. No warranties</h4>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>
                                                    This Website is provided “as is,” with all faults, and Motors express no representations or warranties, of any kind related to this Website or the materials contained on this Website.
                                                    Also, nothing contained on this Website shall be interpreted as advising you.
                                                </p>

                                            </div>
                                        </div>
                                        <h4 style="font-size: 16px;line-height: 24px;text-align: left" class="vc_custom_heading">6. Limitation of liability</h4>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>
                                                    In no event shall Motors, nor any of its officers, directors and employees, shall be held liable for anything arising out of or in any way connected with your use of this Website whether
                                                    such liability is under contract. Motors, including its officers, directors and employees shall not be held liable for any indirect, consequential or special liability arising out
                                                    of or in any way related to your use of this Website.
                                                </p>

                                            </div>
                                        </div>
                                        <h4 style="font-size: 16px;line-height: 24px;text-align: left" class="vc_custom_heading">7. Indemnification</h4>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>
                                                    You hereby indemnify to the fullest extent Motors from and against any and/or all liabilities, costs, demands, causes of action, damages and expenses arising in any way related to your
                                                    breach of any of the provisions of these Terms.
                                                </p>

                                            </div>
                                        </div>
                                        <h4 style="font-size: 16px;line-height: 24px;text-align: left" class="vc_custom_heading">8. Severability</h4>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>If any provision of these Terms is found to be invalid under any applicable law, such provisions shall be deleted without affecting the remaining provisions herein.</p>

                                            </div>
                                        </div>
                                        <h4 style="font-size: 16px;line-height: 24px;text-align: left" class="vc_custom_heading">9. Variation of Terms</h4>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>Motors is permitted to revise these Terms at any time as it sees fit, and by using this Website you are expected to review these Terms on a regular basis.</p>

                                            </div>
                                        </div>
                                        <h4 style="font-size: 16px;line-height: 24px;text-align: left" class="vc_custom_heading">10. Assignment</h4>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>
                                                    The Motors is allowed to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification. However, you are not allowed to assign, transfer,
                                                    or subcontract any of your rights and/or obligations under these Terms.
                                                </p>

                                            </div>
                                        </div>
                                        <h4 style="font-size: 16px;line-height: 24px;text-align: left" class="vc_custom_heading">11. Entire Agreement</h4>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>These Terms constitute the entire agreement between Motors and you in relation to your use of this Website, and supersede all prior agreements and understandings.</p>

                                            </div>
                                        </div>
                                        <h4 style="font-size: 16px;line-height: 24px;text-align: left" class="vc_custom_heading">12. Governing Law &amp; Jurisdiction</h4>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>
                                                    These Terms will be governed by and interpreted in accordance with the laws of the State of New York, and you submit to the non-exclusive jurisdiction of the state and federal courts
                                                    located in New York for the resolution of any disputes.
                                                </p>

                                            </div>
                                        </div>

                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>These terms and conditions have been generated at <a href="http://termsandcondiitionssample.com" target="_blank" class="external" rel="nofollow">termsandcondiitionssample.com</a>.</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        (function ($) {
                            "use strict";

                            var stm_single_filter_link = false;
                            var stmIsotope;
                            var $container = $('.stm-isotope-sorting');

                            $(document).ready(function () {
                                /*Terms and conditions rental*/
                                $(document).on("click", '.stm-template-car_rental .form-row.terms a', function (event) {
                                    event.preventDefault();
                                    $('.stm_terms_popup_dismiss, .stm_terms_popup').addClass('active');
                                });

                                $(document).on("click", '.stm_terms_popup_dismiss, .stm_terms_popup .fa-times', function (event) {
                                    event.preventDefault();
                                    $('.stm_terms_popup_dismiss, .stm_terms_popup').removeClass('active');
                                });
                            })
                        })(jQuery);
                    </script>
                </div>

            </div>
            <!--row-->
        </div>
    </div>
